* {
    margin: 0;
    padding: 0;
}
body {
    background-color: antiqueWhite;
}
a,
a:link,
a:visited {
    text-decoration: none;
    color: deepSkyBlue;
    transition: color 0.3s;
}
a:hover {
    color: mediumOrchid;
}
a:active {
    color: skyBlue;
}
//通用設定 END =========================
header {
    text-align: center;
    hr {
        margin: 0 15%;
        border-color: brown;
    }
}
#container {
    $w-unit: 150px;
    width: 5 * $w-unit;
    margin: 0 auto;
    position: relative; //為了arrow能絕對定位

    //圖片廊 ========
    .slides {
        text-align: center;
        h5 {
            //圖片小標
            color: #f2f2f2;
            font-size: 2em;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        img {
            width: 5 * $w-unit;
            height: auto;
        }
    }
    $bd-rd: 20%; //圓角比例
    //箭頭鈕 ========
    #prev,
    #next {
        font-size: 3em;
        font-weight: bold;
        position: absolute;
        top: 20%;
        padding: 0.5em 1em;
        user-select: none; //讓使用者無法選取反白文字型態的符號
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    #prev {
        border-radius: 0 $bd-rd $bd-rd 0;
    }
    #next {
        right: 0;
        border-radius: $bd-rd 0 0 $bd-rd;
    }
    //資訊欄 ========
    .caption-wrap {
        width: 5 * $w-unit;
        text-align: center;
        margin: 0 auto;
        background-color: #222222dd;
        padding: 12px 0 8px;
        color: white;
        font-size: 1.5em;
    }
    //圖片選取區 ========
    .btn-box {
        display: flex;
        justify-content: center;
        .btn {
            .demo {
                height: 150px;
                width: 150px;
                object-fit: cover;
                filter: invert(0.3);
            }
            &:first-child > .demo {
                object-position: 0 50%;
            }
            .demo:hover,
            .active {
                filter: invert(0);
            }
        }
    }
}
footer {
    margin-top: 1em;
    text-align: center;
}
